body, html {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.content {
    padding: 30px;
}

.nav-main {
    width: 100%;
    background: #263238;
    height: 75px;
    color: white;
}

.nav-main .logo {
    float: left;
    line-height: 35px;
    padding: 15px 35px;
    font-size: 42px;
}

.nav-main > ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}

.nav-main > ul > li {
    float: left;
}

.nav-item {
    display: inline-block;
    padding: 15px 20px;
    height: 45px;
    line-height: 45px;
    background-color: #263238;
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #546e7a;
}

.nav-content {
    position: absolute;
    top: 70px;
    overflow: hidden;
    background-color: #263238;
    color: white;
    max-height: 0;
}

.nav-content a {
    color: white;
    text-decoration: none;
}

.nav-content a:hover {
    background-color: #cfd8dc;
}

.nav-sub {
    padding: 20px;
}

.nav-sub ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-sub ul li a {
    display: inline-block;
    padding: 5px 0;
}

.nav-item:focus {
    background-color: #546e7a;
}

.nav-item:focus ~ .nav-content {
    max-height: 400px;
    -webkit-transition: max-height 0.6s ease-in;
    -moz-transition: max-height 0.6s ease-in;
    transition: max-height 0.6s ease-in;
} 

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    padding: 50px;
    margin-top: 75px;
    background-color: #263238;
    color: #b0bec5;
    text-align: center;
    display: inline-block;
}

.footer-links li {
    font-size: 18px;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}

.footer-logo {
    color: #b0bec5;
    font-size: 28px;
}

.copyright {
    color: #b0bec5;
    font-size: 16px;
}

.footer-links li:hover {
    background-color: #CFD8DC;
}

/* ul {
    list-style-type: none;
    background: #263238;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    padding: 15px 35px;
    font-size: 25px;
    color: white;
    background: #263238;
    height: 75px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

a:hover:not(.logo) {
    background: #546e7a;
}

.logo {
    font-size: 42px;
    padding: 15px 35px;
}

.fa-comment {
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #263238;
}

.dropdown-content a {
    text-decoration: none;
    height: 45px;
    line-height: 45px;
    padding: 15px 20px;
    color: white;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #cfd8dc;
} */