body, html {
    margin: 0;
    background: #eaf0f2;
}

ul {
    list-style-type: none;
    background: #263238;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    padding: 15px 35px;
    font-size: 25px;
    color: white;
    background: #263238;
    height: 75px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

a:hover:not(.logo) {
    background: #546e7a;
}

.logo {
    font-size: 42px;
    padding: 15px 35px;
}

.fa-comment {
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #263238;
}

.dropdown-content a {
    text-decoration: none;
    height: 45px;
    line-height: 45px;
    padding: 15px 20px;
    color: white;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #cfd8dc;
}

