<%- include("partials/header") %> 

<div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">The Quotes</h3>
          </div>
        </div>
  
        <div class="inner cover">
          <h1 class="cover-heading">Generate an inspirational quote.</h1>
          <p class="lead">Click the button to get an inspirational quote that will fill your entire day with inspiration.</p>
          <form action="/quote" method="get">
            <button class="btn btn-lg btn-secondary btn-info">Get Quote</button>
            </form>
        
        </div>
        </div>
    </div>  
</div>  


<%- include("partials/footer") %> 