<nav aria-label="breadcrumb"></nav>
    <ol class="breadcrumb text-primary bg-light py-2 ms-2">
        <li class="breadcrumb-item" aria-current="page" href="/home">Home</li>
        <li class="breadcrumb-item" aria-current="page" href="/about">About</li>
        <li class="breadcrumb-item" aria-current="page" href="/contact">Contact</li>
    </ol>
</nav>

</body>
</html>
