<div class="card_container">

    <div class="card">

        <h1>
            <%= movie.title %> 
        </h1>

        <% let poster = movie.poster_path ? `https://image.tmdb.org/t/p/w200/${movie.poster_path}` : false %> 

        <img src=<%= poster %> alt= <%= movie.title %> >

        <p class="plot">
            <span>PLOT:</span>
            <%= movie.overview || "No plot given" %> 
        </p>

    </div>

</div>