body {
    background: #E0E0E0;
}

div {
    width: 500px;
    height: 400px;
    background-color: #66d9e8;
    border-radius: 10px;
    margin: 100px auto;
    padding: 50px;
}
button {
    font-family: 'Acme', sans-serif;
    border: none;
    background:#0D47A1;
    width: 400px;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    margin: 25px 40px;
    border-radius: 10px;
}

.fa-coffee{
    color: #FF9800;
}
.fa-check{
    color: #FFEB3B;
}
.fa-trash{
    color: #76FF03;
}

span {
    padding-left: 10px;
}