body, html {
    margin: 0;
}

ul {
    list-style-type: none;
    background: #37474f;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    border-right: 1px solid white;
}

a {
    display: block;
    padding: 25px 112px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-family: 'Francois One', sans-serif;
}

a:hover:not(.logo) {
    background: #263238;
}

.logo {
    background: #01579b
}

.fa-building {
    color: #ffeb3b;
}