<%- include('partials/header.ejs') %> 

<div class="pb-4 pt-0 mb-4 bg bg-light rounded-3">
    <div class="container-fluid py-3" style="margin-left: 15%; margin-right: 50%">
        <h1 class="display-5 fw-bold">About our company</h1>
        <p class="text-wrap" style="margin-right: 15em">We got glazed, chocolate iced, raspberry filled, chocolate ice glazed, galzed chocolate cake, powdered cake, and about three dozen other flavors to satisfy your sugar cravings!</p>
    </div>
</div>

<%- include('partials/footer.ejs') %> 