<%- include('partials/header.ejs') %> 

<form class="py-2 px-5" style="margin-left: 10em; margin-right: 10em">
    <div class="mb-3">
      <label class="form-label">Got suggestions on new donut flavors? Shoot us a message.</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-light" style="border-color:lightgrey; background-image: linear-gradient(white, lightgrey);">Submit</button>
</form>

<%- include('partials/footer.ejs') %> 